{% extends 'base.html' %}


{% block content %}
    <main>
      {% if message %}  
      {% for message in messages %}
          <div class="messages flex p-4 mb-4 text-sm text-blue-800 border  border-blue-300 rounded-lg message {{ message.tags }}" id="messagebody">        
              <svg aria-hidden="true" class="flex-shrink-0 inline w-5 h-5 mr-3" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>
              <span class="sr-only">{{ message.tag }}</span>
              <div>
                  <span class="font-medium">{{ message.tag }}</span> {{ message }}
               </div>      
          <!-- <button class="text-white outline outline-1 w-8 text-[25px]" id="close_message">&times;</button> -->
         </div>
        {% endfor %}
    {% endif %} 
        <section class="container mx-auto px-[100px] mt-12 ">
          {% include 'messages.html' %}
            <h3 class="font-extrabold text-left max-sm:text-center text-xl w-[80%] text-[#334881]">Create Account</h3>
            <a href="{% url 'login' %}" class="font-medium  text-[#334881]  dark:text-blue-500 hover:underline">Already have an account?</a>
            <div class="p-4 border mt-8 rounded-md shadow-lg">
                <form action= "{% url 'signup' %}" method= "POST" enctype="multipart/form-data">
                  {% csrf_token %}
                  <div class="" id="hideform">
                        <div class="mb-6">
                            <label for="email" class="block mb-2 text-sm font-medium text-[#334881] dark:text-white">Email</label>
                            {{ user.email }}
                        </div>
                        <div class="mb-6">
                            <label for="password" class="block mb-2 text-sm font-medium text-[#334881] dark:text-white">Password</label>
                            {{ user.password }}
                        </div>
                        <div class="mb-6">
                            <label for="confirmpassword" class="block mb-2 text-sm font-medium text-[#334881] dark:text-white"> Confirm Password</label>
                            <input type="password" placeholder="confirm password" name="confirm_pass"  class='bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500' required>
                        </div>
                      <button type="button" id="toggleProfile" class="text-white bg-[#334881] hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Next</button>
                    
                  </div>
                <!-- hidden part of form  -->
                <div class="hidden transition-all ease-linear" id="showform">
                  
                    <div class="mb-6">
                      <label for="username" class="block mb-2 text-sm font-medium text-[#334881] dark:text-white">Username</label>
                      {{ profile.username }}
                    </div>
                    <div class="mb-6">
                      <label for="firstname" class="block mb-2 text-sm font-medium text-[#334881] dark:text-white">Firstname</label>
                      {{ profile.firstname }}
                    </div>
                    <div class="mb-6">
                      <label for="lastname" class="block mb-2 text-sm font-medium text-[#334881] dark:text-white">Lastname</label>
                      {{ profile.lastname }}
                    </div>
                    <div class="mb-6">
                      <label for="mobile" class="block mb-2 text-sm font-medium text-[#334881] dark:text-white">Mobile</label>
                      {{ profile.mobile }}
                    </div>
                    <div class="mb-6">
                      <label for="location" class="block mb-2 text-sm font-medium text-[#334881] dark:text-white">Location</label>
                      {{ profile.location }}
                    </div>
                    <div class="mb-6">
                      <label for="bvn" class="block mb-2 text-sm font-medium text-[#334881] dark:text-white">BVN</label>
                      {{ profile.BVN }}
                    </div>
                    <div class="mb-6">
                      <label for="photo" class="block mb-2 text-sm font-medium text-[#334881] dark:text-white">Photo</label>
                      {{ profile.photo }}
                    </div>
                    <div class="mb-6">
                      <label for="pin" class="block mb-2 text-sm font-medium text-[#334881] dark:text-white">Bank Pin</label>
                      <input type="text" name="pin" placeholder="bank pin" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                    </div>
                    <button type="submit" class="text-white bg-[#334881] hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Register</button>
                </div>
        
        
                  
                </form>
            </div>
        
        </section>
        <div class="md:mt-[200px] max-sm:mt-[150px]"></div>

    </main>
{% endblock %}