<!DOCTYPE html>
<html lang="en">
    {% load compress %}
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BubblePay</title>
    {% compress css %}
        <link rel="stylesheet" href="{% static 'src/output.css' %}">
        <link rel="stylesheet" href="/static/src/output.css?{% now 'U' %}"/>
        <!-- <link rel="stylesheet" href=" /static/css/main.css?{% now 'U' %}"> -->
        <link rel="stylesheet" href="{% static 'src/main.css' %}">
        <!-- <link rel="stylesheet" href=" /static/src/output.css?{% now 'U' %}"> -->
    {% endcompress %}
</head>
<body class="p-0 m-0">
    <nav class=" border-gray-200  sm:px-4 py-2.5  dark:bg-gray-800">
        <div class="container px-[100px] max-sm:px-[20px] sm:px-[50px] max-md:px-[50px] flex flex-wrap items-center justify-between mx-auto">
          <a href="{% url 'home' %}" class="flex items-center">
              <img src="{% static 'images/LOGO.png' %}" class="h-8 mr-3 sm:h-10 max-sm:h-12" alt="bubblepay Logo" />
              <!-- <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">Flowbite Django</span> -->
          </a>
          <button data-collapse-toggle="mobile-menu" type="button" class="inline-flex bg-[#334881] text-white items-center p-2 ml-3 text-sm  rounded-lg md:hidden hover:bg-[#3e68e6] focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="mobile-menu" aria-expanded="false">
            <span class="sr-only">Open main menu</span>
            <svg class="w-6 h-6 " fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
            <svg class="hidden w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
          </button>

          <div class="hidden w-full  md:block md:w-auto" id="mobile-menu">
            <ul class="flex flex-col mt-4 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium">
              <li>
                <a href="{% url 'home' %}" class="block py-2 pl-3 pr-4 font-sans font-normal text-white bg-[#334881] rounded md:bg-transparent md:text-[#334881] md:p-0 dark:text-white" aria-current="page">Home</a>
              </li>
              <li>
                <!-- <a href="#" class="block py-2 pl-3 pr-4 font-sans font-normal  text-gray-700 border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-[#334881] md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">About</a> -->
                <a id="dropdownHoverButton" data-dropdown-toggle="dropdownHover" data-dropdown-trigger="hover" class="mt-6 md:mt-0 inline-flex items-center cursor-pointer justify-center py-2 pl-3 pr-4 font-sans w-[100px] font-normal text-white bg-[#334881] rounded md:bg-transparent md:text-[#334881] md:p-0 dark:text-white">Services <svg class="w-4 h-4 ml-2" aria-hidden="true" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg></a>
                <!-- Dropdown menu -->
                <div id="dropdownHover" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
                    <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownHoverButton">
                      <li>
                        <a href="{% url 'transfer' %}" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Send money</a>
                      </li>
                      <li>
                        <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Pay for subcriptions</a>
                      </li>
                      <li>
                        <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Earnings</a>
                      </li>
                      <li>
                        <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Sign out</a>
                      </li>
                    </ul>
                </div>
                
              </li>
              <!-- <li>
                <a href="#" class="block py-2 pl-3 pr-4 font-sans font-normal text-gray-700 border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-[#334881] md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Services</a>
              </li> -->
              <!-- <li>
                <a href="#" class="block py-2 pl-3 pr-4 font-sans font-normal text-gray-700 border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-[#334881] md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Pricing</a>
              </li> -->
              <li>
                <a href="#" class="block py-2 pl-3 pr-4 font-sans font-normal text-gray-700 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-[#334881] md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Contact</a>
              </li>
            </ul>
            {% if request.user.is_authenticated %}
                        
              <div class="p-6 flex items-center md:order-2 md:hidden">
                  <button type="button" class="flex mr-3 text-sm bg-gray-800 rounded-full md:mr-0 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600" id="user-menu-button" aria-expanded="false" data-dropdown-toggle="user-dropdown" data-dropdown-placement="bottom">
                    <span class="sr-only">Open user menu</span>
                    <img class="w-8 h-8 rounded-full" src="{{ request.user.customers.photo.url }}" alt="user photo">
                  </button>
                  <!-- Dropdown menu -->
                  <div class="z-50 hidden my-4 text-base list-none bg-[#334881] divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700 dark:divide-gray-600" id="user-dropdown">
                    <div class="px-4 py-3">
                      <span class="block text-sm text-white dark:text-white">{{ request.user.customers.firstname }} {{ request.user.customers.lastname }}</span>
                      <span class="block text-sm  text-white truncate dark:text-gray-400">{{ request.user.email }}</span>
                    </div>
                    <ul class="py-2" aria-labelledby="user-menu-button">
                      <li>
                        <a href="{% url 'dashboard' %}" class="block px-4 py-2 text-sm text-white hover:text-[#334881] hover:bg-[#ADBFEF] dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Dashboard</a>
                      </li>
                      <li>
                        <a href="#" class="block px-4 py-2 text-sm text-white hover:text-[#334881] hover:bg-[#ADBFEF] dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Settings</a>
                      </li>
                      <li>
                        <a href="#" class="block px-4 py-2 text-sm text-white hover:text-[#334881] hover:bg-[#ADBFEF]  dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Earnings</a>
                      </li>
                      <li>
                        <!-- <a href="#" class="block px-4 py-2 text-sm text-white hover:text-[#334881] hover:bg-[#ADBFEF] dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Sign out</a> -->
                        <form method="POST" action="{% url 'logout' %}">
                          {% csrf_token %}
                          <button type="submit" class="block px-4 py-2 text-sm text-white hover:text-[#334881] hover:bg-[#ADBFEF] dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Sign out</button>
                      </form>
                      </li>
                    </ul>
                  </div>
                </div>
            <!-- <a href="{% url 'dashboard' %}" class="block md:hidden pl-4 pr-4 w-[150px]  text-[#334881] border-2 border-[#334881] hover:bg-[#334881] hover:text-white focus:ring-4 focus:outline-none focus:ring-blue-400 font-normal font-sans rounded-sm text-sm px-4 py-2 text-center mr-3 md:mr-0 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Account Settings</a> -->
            {% else %}
            <a href="{% url 'signup' %}" class="block md:hidden pl-4 pr-4 w-[150px] text-white bg-[#334881] hover:bg-[#3e68e6] focus:ring-4 focus:outline-none focus:ring-blue-400 font-normal font-sans rounded-sm text-sm px-4 py-2 text-center mr-3 md:mr-0 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Register</a>
            {% endif %}
          </div>
          

          {% if request.user.is_authenticated %}
          <div class="hidden items-center  md:order-2 md:flex">
            <button type="button" class="flex mr-3 text-sm bg-[#334881] rounded-full md:mr-0 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600" id="menu-button" aria-expanded="false" data-dropdown-toggle="dropdown" data-dropdown-placement="bottom">
              <span class="sr-only">Open user menu</span>
              <img class="w-8 h-8 rounded-full" src="{{ request.user.customers.photo.url }}" alt="user photo">
            </button>
            <!-- Dropdown menu -->
            <div class="z-50 hidden my-4 w-auto bg-[#334881]  mr-8 text-base list-non divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700 dark:divide-gray-600" id="dropdown">
              <div class="px-4 py-3">
                <span class="block text-sm text-white  dark:text-white">{{ request.user.customers.firstname }} {{ request.user.customers.lastname }}</span>
                <span class="block text-sm  text-white  truncate dark:text-gray-400">{{ request.user.email }}</span>
              </div>
              <ul class="py-2" aria-labelledby="menu-button">
                <li>
                  <a href="{% url 'dashboard' %}" class="block px-4 py-2 text-sm text-white hover:text-[#334881] hover:bg-[#ADBFEF] dark:hover:bg-[#ADBFEF]dark:text-gray-200 dark:hover:text-white">Dashboard</a>
                </li>
                <li>
                  <a href="#" class="block px-4 py-2 text-sm text-white hover:text-[#334881] hover:bg-[#ADBFEF] dark:hover:bg-[#ADBFEF]dark:text-gray-200 dark:hover:text-white">Settings</a>
                </li>
                <li>
                  <a href="#" class="block px-4 py-2 text-sm text-white hover:text-[#334881] hover:bg-[#ADBFEF] dark:hover:bg-[#ADBFEF]dark:text-gray-200 dark:hover:text-white">Earnings</a>
                </li>
                <li>
                  <form method="POST" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="block px-4 py-2 text-sm text-white hover:text-[#334881] hover:bg-[#ADBFEF] dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Sign out</button>
                </form>
                </li>
              </ul>
            </div>
          </div>
          <!-- <a href="{% url 'dashboard' %}" class="hidden md:block pl-4 pr-4 w-[150px] text-[#334881] border-2 border-[#334881] hover:bg-[#334881] hover:text-white focus:ring-4 focus:outline-none focus:ring-blue-400 font-normal font-sans rounded-sm text-sm py-2 text-center mr-3 md:mr-0 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Account Settings</a> -->
          {% else %}
          <a href="{% url 'signup' %}" class="hidden md:block pl-4 pr-4 w-[150px] text-white bg-[#334881] hover:bg-[#3e68e6] focus:ring-4 focus:outline-none focus:ring-blue-400 font-normal font-sans rounded-sm text-sm py-2 text-center mr-3 md:mr-0 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Register</a>
          {% endif %}
        </div>
      </nav>

      

  
    {% block content %}

    {% endblock %}

    <section class=" container bg-[#ADBFEF] px-[100px]  py-8 flex justify-between items-center mx-auto max-sm:flex-col max-sm:px-[35px] max-sm:items-start max-sm:justify-start">
     <div>
        <h3 class="mb-4 text-[2.5rem] w-[70%] capitalize  font-extrabold leading-8 tracking-tight text-[#334881] md:text-[1rem] lg:text-[2rem] dark:text-white max-sm:w-[100%] max-sm:leading-none">Take control of your financial journey!</h3>
      </div>
      <div class="px-[100px] max-sm:px-0 ">
        <ul class="flex flex-col">
            <li class="flex gap-3 items-center  p-4 max-sm:px-0">
                <span class="text-[#334881] font-normal text-[15px]"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                <span class="text-[#334881] text-[13.5px] w-[55%] leading-4 font-medium">No 36 Fraser Street Wuse 2 
                  Abuja,Nigera</span>
            </li>
          
            <li class="flex gap-3  items-center p-4 max-sm:px-0">
                <span class="text-[#334881] font-normal text-[15px]"><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
                <span class="text-[#334881] text-[13.5px] w-[50%] leading-4 font-medium">bubblepay@support.com</span>
            </li>
        </ul>
    </div>
    </section>

   
<footer class="container px-[100px] mx-auto bg-[#ADBFEF] shadow dark:bg-gray-800 max-sm:px-[35px] ">
  <div class=" max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
    <span class="text-sm text-[#334881] sm:text-center dark:text-gray-400">© 2023 <a href="{% url 'home' %}" class="hover:underline">BubblePay™</a>. All Rights Reserved.
  </span>
  <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-[#334881] dark:text-gray-400 sm:mt-0">
      <li>
          <a href="#" class="mr-4 hover:underline md:mr-6 text-[#334881]">About</a>
      </li>
      <li>
          <a href="#" class="mr-4 hover:underline text-[#334881] md:mr-6">Privacy Policy</a>
      </li>
      <li>
          <a href="#" class="mr-4 hover:underline text-[#334881] md:mr-6">Licensing</a>
      </li>
      <li>
          <a href="#" class="hover:underline text-[#334881]">Contact</a>
      </li>
  </ul>
  </div>
</footer>

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
<script src="https://kit.fontawesome.com/df2d2fdd9c.js" crossorigin="anonymous"></script>
{% compress js %}
<!-- <script src="{% static 'javascript/app.js' %}"></script> -->
<!-- <script src="{% static 'javascript/form.js' %}"></script> -->

{% endcompress %}
</html>