{% extends 'auth/navbar.html' %}


{% block content %}
    <main>
        <section class="block max-w-sm mx-auto mt-10 p-6 bg-white border border-[#334881] rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
            <h5 class="mb-2 text-2xl text-center font-bold tracking-tight text-[#334881] dark:text-white">Almost There!!</h5>
            <p class="font-normal text-center text-[#334881] dark:text-gray-400">Click on the link sent to your email to verify account and login to account</p>
        </section>
    </main>
{% endblock %}